body {
    margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #000000;
	/*background-image: url("../img/background.jpg");*/
	background-position: top center;
	background-repeat: no-repeat;
}

.test {
	z-index: 200;
	background-image: url(../img/1.png);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

/* Стили шапки */

.main-navigation {
	/*Позиционирование*/

	/*Блочная модель*/
	display: flex;
	flex-direction: column;
  align-items: center;
  
  padding: 0;
  margin: 0;

	/*Типография*/
	font-size: 16px;
	line-height: 20px;
  color: #ffffff;
  
  /*Визуализация*/
  background-color: transparent;
}

.main-header-logo {
	order: 1;
	width: 368px;
	height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
} 

.user-navigation {
  width: 140px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.features {

}

.features-list {
	display: flex;
	justify-content: space-between;	
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.features-list h3 {
	font-size: 30px;
	line-height: 42px;
}

.features-item {
	width: 300px;
	text-align: center;
}

.column {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	
	color: #000000;

	background-color: #ffffff;
	background-image: url("../img/texture.jpg");
	background-repeat: repeat;
}

.column h2 {
	font-size: 30px;
	line-height: 42px;
}

.column time {
	text-transform: none;
}

.news {
	width: 380px;
}

.news h2,
.gallery h2 {
	padding: 0;
	margin: 0;
}


.news-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.gallery {
	width: 300px;
}

figure {
	padding: 0;
	margin: 0;
}

.appointment-item input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.footer {
	color: #ffffff;

	background-color: #808080;
	background-image: url("../img/footer.png");
	background-repeat: repeat;

}

.footer-information a {
	color: #ffffff;
	text-decoration: underline;
}
